.Welcome {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    .Content {
        border: 1px solid var(--main-color);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;

        .forkMe {
            font-size: 10px;
        }

        .start {
            margin-top: 0.5rem;
            font-size: 13px;
        }
    }
}